### Data Acquisition using json API

URL - https://www.zucar.ie/find-a-vehicle?page=1

In [1]:
import requests
import json
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
final_df=pd.DataFrame()

headers=headers={'accept': 'application/json, text/plain, */*',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
    'cookie': 'PHPSESSID=0b5ad9cfef5ba555ea1b75ae15f9f712; selected_currency=GBP; cc_cookie={"level":["marketing","analytics"],"revision":0,"data":null,"rfc_cookie":false}; __zlcmid=1DFlQFQK5zNDSXT; zucar_session=eyJpdiI6Ino1RHBYbnNSUWkzb2JNVCt5SEhQc3c9PSIsInZhbHVlIjoiNUFkY3Z4djBHTUNENDkya3JXTlRaVVZTXC85QWYyUGJzUXp0bVBmdmJLUDdjZUdMeHJDUjNGY2ltS3Y2TVIrNTFJcnNaTnpYV1grbDE4S0VMTFpwWTRsVDVRVVhJU0JMUmdDN29oMUpTVjlsQzlFcnVcL0xNY0gxb2hORFJmd2U4USIsIm1hYyI6IjRhM2VkOWU4MzgxYjU1YmYwYjFmN2M4MWI5NGRlODc3YzQwYTMzZjlhMGJjMDk0NzRiYzMyNzNkZDNjNTVlNzAifQ%3D%3D',
    'dnt': '1',
    'referer': 'https://www.zucar.ie/find-a-vehicle?page=1',
    'sec-ch-ua': '"Google Chrome";v="107", "Chromium";v="107", "Not=A?Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36',
    'x-requested-with': 'XMLHttpRequest'}

## For loop for 9 pages
for i in range(1,10):
    url='https://www.zucar.ie/api/vehicle-search?page=%d'%i
    data='page:%d'%i
    
    resp=requests.get(url,headers=headers,data=data)
    content=json.loads(resp.content)
    results=content['results']
    df=pd.json_normalize(results)
    final_df=final_df.append(df)

In [3]:
final_df.head()

,id,external_id,registration_number,cap_id,make,model,derivative,model_year,registration_date,colour,...,finance_example.interest_rate,finance_example.apr,finance_example.created_at,finance_example.updated_at,stock_source.id,stock_source.name,stock_source.seller_id,stock_source.location_id,stock_source.active,finance_example
0,3446,25417429,142L2670,None,Fiat,500L,0.9 TWINAIR 105 BHP POP STAR,2014,2014-07-01,Red,...,9.90,9.90,2022-11-07 14:45:44,2022-12-04 16:45:24,16,Zucar Cork,520335,None,1,NaN
1,2533,25329505,161D23685,None,SEAT,Mii,1.0 75hp S 3 Door //,2016,2016-01-01,White,...,9.90,9.90,2022-07-08 17:45:11,2022-12-04 16:45:11,15,Zucar Limerick,520621,None,1,NaN
2,3493,25421663,162D21435,None,Fiat,500,1.2 69hp Pop Star,2016,2016-07-01,Black,...,9.90,9.90,2022-11-10 15:45:58,2022-12-04 16:45:42,20,Select Drogheda,520564,None,1,NaN
3,2900,25364740,191C9364,None,Dacia,Sandero,1.0 75 ALTERNATIVE,2019,2019-01-01,White,...,9.90,9.90,2022-08-22 21:00:40,2022-12-04 16:45:36,16,Zucar Cork,520335,None,1,NaN
4,3452,25418118,162C3580,None,Kia,Venga,1.4 L,2016,2016-07-01,Silver,...,9.90,9.90,2022-11-05 09:45:17,2022-12-04 16:45:22,16,Zucar Cork,520335,None,1,NaN

In [4]:
final_df.shape

(198, 118)